#
# More env options at:
# https://github.com/itzg/dockerfiles/tree/master/minecraft-server
# 
COMPOSE_PROJECT_NAME=minecraft-server
WHITELIST=User1,User2
OPS=User1,User2
MOTD=MineServer
IMAGE=itzg/minecraft-server
TYPE=FORGE
EULA=TRUE
ALLOW_NETHER=true
ANNOUNCE_PLAYER_ACHIEVEMENTS=true
ENABLE_COMMAND_BLOCK=true
GENERATE_STRUCTURES=true
SPAWN_ANIMALS=true
SPAWN_MONSTERS=true
SPAWN_NPCS=true

# If using local folder for persistent data
LOCAL_MC_DATA=./mc_data